header{
    color: red;
    background-color: aquamarine;
    text-align: center;
    position: sticky;
    top: 10%;
    width: 100%;
}
main{
    text-align: center;
    color: blue;
}
footer{
    color: red;
    background-color: aqua;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0.5%;
}